<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="cacheEnabled" value="true"/>
    </settings>
    <typeAliases>
        <typeAlias alias="SalesChance" type="com.wyb.crm.entity.SalesChance" ></typeAlias>
        <typeAlias alias="User" type="com.wyb.crm.entity.User"></typeAlias>
    </typeAliases>
</configuration>